# SWaT Dataset Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import os
import pathlib

In [3]:
root_dir = '../data'
data_list = [os.path.join(root_dir, f) for f in os.listdir(root_dir)]
data_list

['../data/SWaT_Dataset_Attack_v0.xlsx',
 '../data/kdd99_test.npy',
 '../data/swat_train.csv',
 '../data/SWaT_Dataset_Normal_v1.xlsx',
 '../data/swat_test.csv',
 '../data/SWaT_Dataset_Normal_v0.xlsx',
 '../data/kdd99_train.npy']

In [25]:
att_df = pd.read_excel(data_list[0], sheet_name='Combined Data', header=1)
att_df.head()

/Users/innohub/bin/miniconda3/envs/gan/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603,Normal/Attack
0,28/12/2015 10:00:00 AM,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,2,1,250.8652,1.649953,189.5988,0.000128,1,1,1,Normal
1,28/12/2015 10:00:01 AM,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,...,2,1,250.8652,1.649953,189.6789,0.000128,1,1,1,Normal
2,28/12/2015 10:00:02 AM,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,...,2,1,250.8812,1.649953,189.6789,0.000128,1,1,1,Normal
3,28/12/2015 10:00:03 AM,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,...,2,1,250.8812,1.649953,189.6148,0.000128,1,1,1,Normal
4,28/12/2015 10:00:04 AM,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,...,2,1,250.8812,1.649953,189.5027,0.000128,1,1,1,Normal

In [30]:
print(att_df.isnull().sum())

cols = att_df.columns
print(f'Columns: {cols}')
att_df.columns = cols.str.strip()
print(f'After process: {att_df.columns}, shape: {att_df.shape}')

Timestamp        0
FIT101           0
LIT101           0
MV101            0
P101             0
P102             0
AIT201           0
AIT202           0
AIT203           0
FIT201           0
MV201            0
P201             0
P202             0
P203             0
P204             0
P205             0
P206             0
DPIT301          0
FIT301           0
LIT301           0
MV301            0
MV302            0
MV303            0
MV304            0
P301             0
P302             0
AIT401           0
AIT402           0
FIT401           0
LIT401           0
P401             0
P402             0
P403             0
P404             0
UV401            0
AIT501           0
AIT502           0
AIT503           0
AIT504           0
FIT501           0
FIT502           0
FIT503           0
FIT504           0
P501             0
P502             0
PIT501           0
PIT502           0
PIT503           0
FIT601           0
P601             0
P602             0
P603             0
Normal/Attack    0
dtype: int64
Columns: Index(['Timestamp', 'FIT101', 'LIT101', 'MV101', 'P101', 'P102', 'AIT201',
       'AIT202', 'AIT203', 'FIT201', 'MV201', 'P201', 'P202', 'P203', 'P204',
       'P205', 'P206', 'DPIT301', 'FIT301', 'LIT301', 'MV301', 'MV302',
       'MV303', 'MV304', 'P301', 'P302', 'AIT401', 'AIT402', 'FIT401',
       'LIT401', 'P401', 'P402', 'P403', 'P404', 'UV401', 'AIT501', 'AIT502',
       'AIT503', 'AIT504', 'FIT501', 'FIT502', 'FIT503', 'FIT504', 'P501',
       'P502', 'PIT501', 'PIT502', 'PIT503', 'FIT601', 'P601', 'P602', 'P603',
       'Normal/Attack'],
      dtype='object')
After process: Index(['Timestamp', 'FIT101', 'LIT101', 'MV101', 'P101', 'P102', 'AIT201',
       'AIT202', 'AIT203', 'FIT201', 'MV201', 'P201', 'P202', 'P203', 'P204',
       'P205', 'P206', 'DPIT301', 'FIT301', 'LIT301', 'MV301', 'MV302',
       'MV303', 'MV304', 'P301', 'P302', 'AIT401', 'AIT402', 'FIT401',
       'LIT401', 'P401', 'P402', 'P403', 'P404', 'UV401', 'AIT501', 'AIT502',
       'AIT503', 'AIT504', 'FIT501', 'FIT502', 'FIT503', 'FIT504', 'P501',
       'P502', 'PIT501', 'PIT502', 'PIT503', 'FIT601', 'P601', 'P602', 'P603',
       'Normal/Attack'],
      dtype='object'), shape: (449919, 53)

In [32]:
class_counts = att_df['Normal/Attack'].value_counts()
print(class_counts)

att_df['Normal/Attack'] = att_df['Normal/Attack'].replace('A ttack', 'Attack')
class_counts = att_df['Normal/Attack'].value_counts()
print(f'Process label:\n{class_counts}')
assert class_counts['Normal'] + class_counts['Attack'] == att_df.shape[0]

Normal/Attack
Normal    395298
Attack     54621
Name: count, dtype: int64
Process label:
Normal/Attack
Normal    395298
Attack     54621
Name: count, dtype: int64

In [44]:
from datetime import datetime
import pytz

def convert_to_timestamp(date_string):
    dt = datetime.strptime(date_string.strip(), '%d/%m/%Y %I:%M:%S %p')
    return int(dt.replace(tzinfo=pytz.UTC).timestamp())

timestamp = convert_to_timestamp('28/12/2015 10:00:00 AM')
print(timestamp)

1451296800

In [45]:
att_df.loc[:, 'label'] = att_df['Normal/Attack'].map({'Normal': 0, 'Attack': 1})
att_df.loc[:, 'TS-UTC'] = att_df['Timestamp'].apply(lambda x: convert_to_timestamp(x))
print(f'Class label:\n{att_df["label"].value_counts()}')
att_df.head()

Class label:
label
0    395298
1     54621
Name: count, dtype: int64

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,PIT501,PIT502,PIT503,FIT601,P601,P602,P603,Normal/Attack,label,TS-UTC
0,28/12/2015 10:00:00 AM,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,250.8652,1.649953,189.5988,0.000128,1,1,1,Normal,0,1451296800
1,28/12/2015 10:00:01 AM,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,...,250.8652,1.649953,189.6789,0.000128,1,1,1,Normal,0,1451296801
2,28/12/2015 10:00:02 AM,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,...,250.8812,1.649953,189.6789,0.000128,1,1,1,Normal,0,1451296802
3,28/12/2015 10:00:03 AM,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,...,250.8812,1.649953,189.6148,0.000128,1,1,1,Normal,0,1451296803
4,28/12/2015 10:00:04 AM,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,...,250.8812,1.649953,189.5027,0.000128,1,1,1,Normal,0,1451296804

## Normal Data

In [46]:
nor_df0 = pd.read_excel(data_list[2], sheet_name='Normal.csv', header=1)
print(nor_df0.head())

/Users/innohub/bin/miniconda3/envs/gan/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

                Timestamp    FIT101    LIT101  MV101  P101  P102    AIT201  \
0   22/12/2015 4:00:00 PM  2.470294  261.5804      2     2     1  244.3284
1   22/12/2015 4:00:01 PM  2.457163  261.1879      2     2     1  244.3284
2   22/12/2015 4:00:02 PM  2.439548  260.9131      2     2     1  244.3284
3   22/12/2015 4:00:03 PM  2.428338  260.2850      2     2     1  244.3284
4   22/12/2015 4:00:04 PM  2.424815  259.8925      2     2     1  244.4245

    AIT202   AIT203    FIT201  ...  P501  P502    PIT501  PIT502    PIT503  \
0  8.19008  306.101  2.471278  ...     1     1  10.02948     0.0  4.277749
1  8.19008  306.101  2.468587  ...     1     1  10.02948     0.0  4.277749
2  8.19008  306.101  2.467305  ...     1     1  10.02948     0.0  4.277749
3  8.19008  306.101  2.466536  ...     1     1  10.02948     0.0  4.277749
4  8.19008  306.101  2.466536  ...     1     1  10.02948     0.0  4.277749

     FIT601  P601  P602  P603  Normal/Attack
0  0.000256     1     1     1         Normal
1  0.000256     1     1     1         Normal
2  0.000256     1     1     1         Normal
3  0.000256     1     1     1         Normal
4  0.000256     1     1     1         Normal

[5 rows x 53 columns]

In [48]:
print(f'Shape: {nor_df0.shape}, cols: {nor_df0.columns}')
print(f'Null values:\n{nor_df0.isnull().sum()}')

Shape: (496800, 53), cols: Index([' Timestamp', 'FIT101', 'LIT101', 'MV101', 'P101', 'P102', 'AIT201',
       'AIT202', 'AIT203', 'FIT201', 'MV201', 'P201', 'P202', 'P203', 'P204',
       'P205', 'P206', 'DPIT301', 'FIT301', 'LIT301', 'MV301', 'MV302',
       'MV303', 'MV304', 'P301', 'P302', 'AIT401', 'AIT402', 'FIT401',
       'LIT401', 'P401', 'P402', 'P403', 'P404', 'UV401', 'AIT501', 'AIT502',
       'AIT503', 'AIT504', 'FIT501', 'FIT502', 'FIT503', 'FIT504', 'P501',
       'P502', 'PIT501', 'PIT502', 'PIT503', 'FIT601', 'P601', 'P602', 'P603',
       'Normal/Attack'],
      dtype='object')
Null values:
 Timestamp       0
FIT101           0
LIT101           0
MV101            0
P101             0
P102             0
AIT201           0
AIT202           0
AIT203           0
FIT201           0
MV201            0
P201             0
P202             0
P203             0
P204             0
P205             0
P206             0
DPIT301          0
FIT301           0
LIT301           0
MV301            0
MV302            0
MV303            0
MV304            0
P301             0
P302             0
AIT401           0
AIT402           0
FIT401           0
LIT401           0
P401             0
P402             0
P403             0
P404             0
UV401            0
AIT501           0
AIT502           0
AIT503           0
AIT504           0
FIT501           0
FIT502           0
FIT503           0
FIT504           0
P501             0
P502             0
PIT501           0
PIT502           0
PIT503           0
FIT601           0
P601             0
P602             0
P603             0
Normal/Attack    0
dtype: int64

In [51]:
class_counts = nor_df0['Normal/Attack'].value_counts()
print(f'Class counts:\n{class_counts}')

def preprocess_df(df):
    assert df.isnull().sum().sum() == 0
    df.columns = df.columns.str.strip()
    df['Normal/Attack'] = df['Normal/Attack'].replace('\s+', '', regex=True)
    df.loc[:, 'label'] = df['Normal/Attack'].map({'Normal': 0, 'Attack': 1})
    df.loc[:, 'TS-UTC'] = df['Timestamp'].apply(lambda x: convert_to_timestamp(x))
    return df

preprocess_df(nor_df0)
nor_df0.head()

Class counts:
Normal/Attack
Normal    496800
Name: count, dtype: int64

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,PIT501,PIT502,PIT503,FIT601,P601,P602,P603,Normal/Attack,label,TS-UTC
0,22/12/2015 4:00:00 PM,2.470294,261.5804,2,2,1,244.3284,8.19008,306.101,2.471278,...,10.02948,0.0,4.277749,0.000256,1,1,1,Normal,0,1450800000
1,22/12/2015 4:00:01 PM,2.457163,261.1879,2,2,1,244.3284,8.19008,306.101,2.468587,...,10.02948,0.0,4.277749,0.000256,1,1,1,Normal,0,1450800001
2,22/12/2015 4:00:02 PM,2.439548,260.9131,2,2,1,244.3284,8.19008,306.101,2.467305,...,10.02948,0.0,4.277749,0.000256,1,1,1,Normal,0,1450800002
3,22/12/2015 4:00:03 PM,2.428338,260.2850,2,2,1,244.3284,8.19008,306.101,2.466536,...,10.02948,0.0,4.277749,0.000256,1,1,1,Normal,0,1450800003
4,22/12/2015 4:00:04 PM,2.424815,259.8925,2,2,1,244.4245,8.19008,306.101,2.466536,...,10.02948,0.0,4.277749,0.000256,1,1,1,Normal,0,1450800004

# KDD99 Data

In [5]:
kdd = np.load(data_list[-1])
print(kdd.shape)
labels = kdd[:, -1]
labels

(562387, 35)

array([0., 0., 0., ..., 0., 0., 0.])

In [12]:
kdd_test = np.load('../data/kdd99_test.npy')
labels = kdd_test[:, -1]
label_counts = np.unique(labels, return_counts=True)
print(f'shape: {kdd_test.shape}, labels count: {label_counts}')

anomaly_index = np.where(labels == 1)[0]
print(f'Anomaly index: {anomaly_index[0:1000]}')

shape: (494021, 35), labels count: (array([0., 1.]), array([ 97278, 396743]))
Anomaly index: [ 744  745 4049 4113 7601 7602 7793 7794 7795 7796 7797 7798 7799 7800
 7801 7802 7803 7804 7805 7806 7807 7808 7809 7810 7811 7812 7813 7814
 7815 7816 7817 7818 7819 7820 7821 7822 7823 7824 7825 7826 7827 7828
 7829 7830 7831 7832 7833 7834 7835 7836 7837 7838 7839 7840 7841 7842
 7843 7844 7845 7846 7847 7848 7849 7850 7851 7852 7853 7854 7855 7856
 7857 7858 7859 7860 7861 7862 7863 7864 7865 7866 7867 7868 7869 7870
 7871 7872 7873 7874 7875 7876 7877 7878 7879 7880 7881 7882 7883 7884
 7885 7886 7887 7888 7889 7890 7891 7892 7893 7894 7895 7896 7897 7898
 7899 7900 7901 7902 7903 7904 7905 7906 7907 7908 7909 7910 7911 7912
 7913 7914 7915 7916 7917 7918 7919 7920 7921 7922 7923 7924 7925 7926
 7927 7928 7929 7930 7931 7932 7933 7934 7935 7936 7937 7938 7939 7940
 7941 7942 7943 7944 7945 7946 7947 7948 7949 7950 7951 7952 7953 7954
 7955 7956 7957 7958 7959 7960 7961 7962 7963 7964 7965 7966 7967 7968
 7969 7970 7971 7972 7973 7974 7975 7976 7977 7978 7979 7980 7981 7982
 7983 7984 7985 7986 7987 7988 7989 7990 7991 7992 7993 7994 7995 7996
 7997 7998 7999 8000 8001 8002 8003 8004 8005 8006 8007 8008 8009 8010
 8011 8012 8013 8014 8015 8016 8017 8018 8019 8020 8021 8022 8023 8024
 8025 8026 8027 8028 8029 8030 8031 8032 8033 8034 8035 8036 8037 8038
 8039 8040 8041 8042 8043 8044 8045 8046 8047 8048 8049 8050 8051 8052
 8053 8054 8055 8056 8057 8058 8059 8060 8061 8062 8063 8064 8065 8066
 8067 8068 8069 8070 8071 8072 8073 8074 8075 8076 8077 8078 8079 8080
 8081 8082 8083 8084 8085 8086 8087 8088 8089 8090 8091 8092 8093 8094
 8095 8096 8097 8098 8099 8100 8101 8102 8103 8104 8105 8106 8107 8108
 8109 8110 8111 8112 8113 8114 8115 8116 8117 8118 8119 8120 8121 8122
 8123 8124 8125 8126 8127 8128 8129 8130 8131 8132 8133 8134 8135 8136
 8137 8138 8139 8140 8141 8142 8143 8144 8145 8146 8147 8148 8149 8150
 8151 8152 8153 8154 8155 8156 8157 8158 8159 8160 8161 8162 8163 8164
 8165 8166 8167 8168 8169 8170 8171 8172 8173 8174 8175 8176 8177 8178
 8179 8180 8181 8182 8183 8184 8185 8186 8187 8188 8189 8190 8191 8192
 8193 8194 8195 8196 8197 8198 8199 8200 8201 8202 8203 8204 8205 8206
 8207 8208 8209 8210 8211 8212 8213 8214 8215 8216 8217 8218 8219 8220
 8221 8222 8223 8224 8225 8226 8227 8228 8229 8230 8231 8232 8233 8234
 8235 8236 8237 8238 8239 8240 8241 8242 8243 8244 8245 8246 8247 8248
 8249 8250 8251 8252 8253 8254 8255 8256 8257 8258 8259 8260 8261 8262
 8263 8264 8265 8266 8267 8268 8269 8270 8271 8272 8273 8274 8275 8276
 8277 8278 8279 8280 8281 8282 8283 8284 8285 8286 8287 8288 8289 8290
 8291 8292 8293 8294 8295 8296 8297 8298 8299 8300 8301 8302 8303 8304
 8305 8306 8307 8308 8309 8310 8311 8312 8313 8314 8315 8316 8317 8318
 8319 8320 8321 8322 8323 8324 8325 8326 8327 8328 8329 8330 8331 8332
 8333 8334 8335 8336 8337 8338 8339 8340 8341 8342 8343 8344 8345 8346
 8347 8348 8349 8350 8351 8352 8353 8354 8355 8356 8357 8358 8359 8360
 8361 8362 8363 8364 8365 8366 8367 8368 8369 8370 8371 8372 8373 8374
 8375 8376 8377 8378 8379 8380 8381 8382 8383 8384 8385 8386 8387 8388
 8389 8390 8391 8392 8393 8394 8395 8396 8397 8398 8399 8400 8401 8402
 8403 8404 8405 8406 8407 8408 8409 8410 8411 8412 8413 8414 8415 8416
 8417 8418 8419 8420 8421 8422 8423 8424 8425 8426 8427 8428 8429 8430
 8431 8432 8433 8434 8435 8436 8437 8438 8439 8440 8441 8442 8443 8444
 8445 8446 8447 8448 8449 8450 8451 8452 8453 8454 8455 8456 8457 8458
 8459 8460 8461 8462 8463 8464 8465 8466 8467 8468 8469 8470 8471 8472
 8473 8474 8475 8476 8477 8478 8479 8480 8481 8482 8483 8484 8485 8486
 8487 8488 8489 8490 8491 8492 8493 8494 8495 8496 8497 8498 8499 8500
 8501 8502 8503 8504 8505 8506 8507 8508 8509 8510 8511 8512 8513 8514
 8515 8516 8517 8518 8519 8520 8521 8522 8523 8524 8525 8526 8527 8528
 8529 8530 8531 8532 8533 8534 8535 8536 8537 8538 8539 8540 8541 8542
 8543 8544 8545 8546 8547 8548 8549 8550 8551 8552 8553 8554 8555 8556
 8557 8558 8559 8560 8561 8562 8563 8564 8565 8566 8567 8568 8569 8570
 8571 8572 8573 8574 8575 8576 8577 8578 8579 8580 8581 8582 8583 8584
 8585 8586 8587 8588 8589 8590 8591 8592 8593 8594 8595 8596 8597 8598
 8599 8600 8601 8602 8603 8604 8605 8606 8607 8608 8609 8610 8611 8612
 8613 8614 8615 8616 8617 8618 8619 8620 8621 8622 8623 8624 8625 8626
 8627 8628 8629 8630 8631 8632 8633 8634 8635 8636 8637 8638 8639 8640
 8641 8642 8643 8644 8645 8646 8647 8648 8649 8650 8651 8652 8653 8654
 8655 8656 8657 8658 8659 8660 8661 8662 8663 8664 8665 8666 8667 8668
 8669 8670 8671 8672 8673 8674 8675 8676 8677 8678 8679 8680 8681 8682
 8683 8684 8685 8686 8687 8688 8689 8690 8691 8692 8693 8694 8695 8696
 8697 8698 8699 8700 8701 8702 8703 8704 8705 8706 8707 8708 8709 8710
 8711 8712 8713 8714 8715 8716 8717 8718 8719 8720 8721 8722 8723 8724
 8725 8726 8727 8728 8729 8730 8731 8732 8733 8734 8735 8736 8737 8738
 8739 8740 8741 8742 8743 8744 8745 8746 8747 8748 8749 8750 8751 8752
 8753 8754 8755 8756 8757 8758 8759 8760 8761 8762 8763 8764 8765 8766
 8767 8768 8769 8770 8771 8772 8773 8774 8775 8776 8777 8778 8779 8780
 8781 8782 8783 8784 8785 8786]